@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    // ### Primary

    --Orange: hsl(25, 97%, 53%);

    // ### Neutral

    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarBlue: hsl(216, 12%, 8%);
    // ## Typography
    --ff: 'Overpass', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    font-family: var(--ff);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    background-color: var(--VeryDarBlue);
    color: var(--MediumGrey);

}

main {
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border-radius: 1.5rem;
}

@media screen and(min-width:900) {
    main {
        padding: 2.5rem 1rem;
    }
}

main {
    max-width: 350px;
    margin: auto;
    padding: 2rem .8rem;
    background-color: var(--DarkBlue);


    .star {
        padding: 10px;
        background-color: #2b3742;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }

    h1,
    h2 {
        color: var(--White);
        font-size: 1.8rem;
        font-weight: 700;
        margin: 1.5rem 0;

    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

    form {
        display: grid;

        .flex-grop {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem auto;
            gap: 1.2rem;

            input[type="radio"] {
                visibility: hidden;
                display: none;
            }

            label {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #2b3742;
                width: 45px;
                height: 45px;
                color: var(--MediumGrey);
                padding: 1rem;
                font-weight: 700;
                line-height: 1;
                cursor: pointer;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;

                &:hover {
                    background-color: var(--Orange);
                    color: var(--White);
                }
            }

            input[type="radio"]:checked+label {
                background-color: var(--MediumGrey);
                color: var(--White);
            }

        }

        button {
            margin: 1rem 0;
            padding: .8rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: var(--Orange);
            color: var(--White);
            cursor: pointer;
            border: 0;
            -webkit-border-radius: 1.2rem;
            -moz-border-radius: 1.2rem;
            -ms-border-radius: 1.2rem;
            -o-border-radius: 1.2rem;
            border-radius: 1.2rem;

            &:hover {
                background-color: var(--White);
                color: var(--Orange);
            }
        }
    }

    .thanks {
        display: none;
        text-align: center;


        img {
            margin-bottom: 1rem;
        }

        .rating-u {
            display: inline-block;
            color: var(--Orange);
            background-color: #2b3742;
            padding: .4rem .9rem;
            margin-bottom: 1rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            border-radius: 2rem;

        }
    }
}

@keyframes slide {
    from {

        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {

        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}